<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Googl</title>
</head>

<body>
    <center>
        <div style="height:233px;margin-top:89px" id="lga">
            <div style="padding-top:109px">
                <style>
                    #hplogo {
                        background: url(/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png) no-repeat
                    }

                    @media (-webkit-max-device-pixel-ratio:1),
                    (max-resolution:96dpi) {
                        #hplogo {
                            background: url(/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png) no-repeat
                        }
                    }
                </style>
                <div style="background-size:272px 92px;height:92px;width:272px" title="Google" align="left" id="hplogo" onload="window.lol&&lol()">
                    <img src="{{url_for("static", filename="google-logo.PNG ")}}"/>
                    <div class="logo-subtext">Nigeria</div>
                </div>
            </div>
        </div>
        <div style="height:118px"></div>
        <div data-jibp="h" data-jiis="uc" id="prm-pt" style="margin-top:12px">
            <script>
                window.gbar && gbar.up && gbar.up.tp && gbar.up.tp();
            </script>
            <div id="als">
                <div id="_eEe">Google.com.ng offered in: <a href="https://www.google.com.ng/setprefs?sig=0_aGR26-MLbJlPyxIZX8V8FxJvF2s%3D&amp;hl=ha&amp;source=homepage"
                        onmousedown="return rwt(this,'','','','','AFQjCNGqz-LIr3t7EEJobib3rVimFIVLCQ','LsfS8Z3yeyYf8V6BhGnXmQ','0ahUKEwjd6K2si_7TAhWC1ywKHSDoD6sQ2ZgBCAw','','',event)">Hausa</a>                    <a href="https://www.google.com.ng/setprefs?sig=0_aGR26-MLbJlPyxIZX8V8FxJvF2s%3D&amp;hl=ig&amp;source=homepage"
                        onmousedown="return rwt(this,'','','','','AFQjCNHknZ3Ek2a0-EStKnrPFeMMS7j27w','l1o5BZkJ2P2QE5KqF_NcnA','0ahUKEwjd6K2si_7TAhWC1ywKHSDoD6sQ2ZgBCA0','','',event)">Igbo</a>                    <a href="https://www.google.com.ng/setprefs?sig=0_aGR26-MLbJlPyxIZX8V8FxJvF2s%3D&amp;hl=yo&amp;source=homepage"
                        onmousedown="return rwt(this,'','','','','AFQjCNH3-Efbdr5cXi8DaplmW-ZsMFtH-w','512wskW_tha8dv62thbS4w','0ahUKEwjd6K2si_7TAhWC1ywKHSDoD6sQ2ZgBCA4','','',event)">Èdè Yorùbá</a>                    <a href="https://www.google.com.ng/setprefs?sig=0_aGR26-MLbJlPyxIZX8V8FxJvF2s%3D&amp;hl=pcm&amp;source=homepage"
                        onmousedown="return rwt(this,'','','','','AFQjCNG8nDmj2BWpewfr-naoF-ke5oXA8g','FCwryeyAXKJ1BwfXDAmMiQ','0ahUKEwjd6K2si_7TAhWC1ywKHSDoD6sQ2ZgBCA8','','',event)">Pidgin</a>                    </div>
            </div>
            <div id="swml"></div>
        </div>
        <form class="tsf" action="/search" style="overflow:visible" id="tsf" method="GET" name="f" onsubmit="return q.value!=''"
            role="search">
            <div data-jibp="" data-jiis="uc" id="tophf">
                <input name="site" value="" type="text">
                </div>
        </form>
    </center>
    <script>
        function lol() {

        }
    </script>
</body>

</html>